extends layout

block content

	nav.navbar.navbar-default.navbar-fixed-top.navbar-static-top.navbar-inverse
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='minitwr') MiniTwr
			#bs-example-navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav
					li.menu
						a(href='/')
							|Home 
							span.sr-only (current)
				ul.nav.navbar-nav
					li.menu
						a(href='favorites')
							|Favorites
				ul.nav.navbar-nav
					li.menu
						a(href='profile')
							|Profile
				form.navbar-form.navbar-right(role='search')
					.input-group
						input.form-control(type='text', placeholder='Search for...')
						span.input-group-btn
							button.btn.btn-default(type='submit')
								span.glyphicon.glyphicon-search(aria-hidden='true')

	#main.col-md-10.col-xs-10
		h2.
			Favorites
		#favorites
			h3.
				Sorry... :(
			p.
				Like we told you in our presentation, we didn't make "login" part, so it's pretty difficult to know the user's favorites are. So we just made
				an history of all tweets.
			p.
				Again, maybe later ;)
		h2.
			History
		ul
			- each tweet in tweets
				#tweet.col-md-10.col-xs-10 #{tweet.text}
					#heure
						script(language='JavaScript').
							var maintenant = new Date(#{tweet.date}).toLocaleString();
							document.write("Le " + maintenant);

	#loginhead.col-md-2.col-xs-2
		h2.
			Log in

	#login.col-md-2.col-xs-2
		form
			| Username:
			br
			input.case(type='text' name='username' style="autocomplete: on")
			br
			| Password:
			br
			input.case(type='password' name='password')
			br
			button.btn.btn-default(type='submit')
				span.glyphicon.glyphicon-log-in(aria-hidden='true')

	#signuphead.col-md-2.col-xs-2
		h2.
			Sign up

	#signup.col-md-2.col-xs-2
		p.
			Not registered yet ?
		p.
			Sign up ! It's free !
		br
		form
			| Username:
			br
			input.case(type='text' name='username')
			br
			| Email:
			br
			input.case(type='email' name='email')
			br
			| Password:
			br
			input.case(type='password' name='password')
			br
			| Confirm:
			br
			input.case(type='password' name='password')
			br
			button.btn.btn-default(type='submit')
				span.glyphicon.glyphicon-check(aria-hidden='true')

	#footer
		p.
			<span>Clémence Duron</span> & <span>Cyrielle Endenmann</span> ©2015
