extends layout

block content
	h1 
		| WELCOME TO 
		span OXOX
	#menu
		#choix
			p.
				Write
		#choix
			p.
				Favorites
		#choix
			p.
				Search
		#choix
			p.
				Profile
	#tweets
		#tweet
			h2.
				Test
			p.
				Ma Magie va vous mettre en pièce.
		#tweet
			p.
				Heureux de vous rencontrer.
		#tweet
			p.
				Votre âme va souffrir.

	#presentation
		p.
			Ce site a la classe. </br>
			Je suis d'accord.
	#login
		form
			| Username:
			br
			input.case(type='text' name='username' style="autocomplete: on")
			br
			| Password:
			br
			input.case(type='password' name='password')
			br
			input.bouton(type='button' value='►')
	#signup
		form
			| Username:
			br
			input.case(type='text' name='username')
			br
			| Email:
			br
			input.case(type='email' name='email')
			br
			| Password:
			br
			input.case(type='password' name='password')
			br
			| Confirm:
			br
			input.case(type='password' name='password')
			br
			input.bouton(type='button' value='►')
	#news
		p.
			blaahhhhhhhhhhh
	
