extends layout

block content
	h1
		| WELCOME TO 
		span OXOX

	#menu
		#choix
			p.
				Write
		#choix
			p.
				Favorites
		#choix
			p.
				Search
		#choix
			p.
				Profile

	#tweets
		form(action='/', method='POST')
			textarea.texte(name="tweet", rows=3, columns=50)
			br
			input.send(type='submit', content='Sends', value='Send')

		ul
			- each tweet in tweets
				#tweet= tweet

	#presentation
		p.
			Ce site a la classe. </br>
			Je suis d'accord.

	#login
		form
			| Username:
			br
			input.case(type='text' name='username' style="autocomplete: on")
			br
			| Password:
			br
			input.case(type='password' name='password')
			br
			input.bouton(type='button' value='►')

	#signup
		form
			| Username:
			br
			input.case(type='text' name='username')
			br
			| Email:
			br
			input.case(type='email' name='email')
			br
			| Password:
			br
			input.case(type='password' name='password')
			br
			| Confirm:
			br
			input.case(type='password' name='password')
			br
			input.bouton(type='button' value='►')

	#news
		p.
			blaahhhhhhhhhhh
	#footer
		p.
			<span>Clémence Duron</span> & <span>Cyrielle Endenmann</span> ©2015
