extends layout

block content

	nav.navbar.navbar-default.navbar-fixed-top.navbar-static-top.navbar-inverse
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='minitwr') MiniTwr
			#bs-example-navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav
					li.menu
						a(href='/')
							|Home 
							span.sr-only (current)
				ul.nav.navbar-nav
					li.menu
						a(href='favorites')
							|Favorites
				ul.nav.navbar-nav
					li.menu
						a(href='profile')
							|Profile
				form.navbar-form.navbar-right(role='search')
					.input-group
						input.form-control(type='text', placeholder='Search for...')
						span.input-group-btn
							button.btn.btn-default(type='submit')
								span.glyphicon.glyphicon-search(aria-hidden='true')

	#main.col-md-10.col-xs-10
		h2.
			About us
		#ourproject
			h3.
				Hi !
			p.
				That's our brand new project for our web programmation class and we are happy to present you that cute imitation of Twitter. As you could see we 
				haven't finish yet the "login" part, so there are many features that you can't test for now, maybe try again later !

			p.
				We hope you enjoy the design and if you want to contact us in order to give us your opinion or some advices, leave us a comment, we will be glad to
				know what you are thinking about our site !

			p.
				Thank you !! Have a nice day !

			p. 
				Cyrielle & Clémence

		#comments
			h2.
				Comments
			form(action='/minitwr', method='POST')
				textarea.texte(name="comment", rows=5)
				button.btn.btn-default(type='submit', content='Sends', class='send')
					span.glyphicon.glyphicon-edit(aria-hidden='true')

			ul
				- each comment in comments
					#comment.col-md-10.col-xs-10 #{comment.text}
						#heure
							script(language='JavaScript').
								var maintenant = new Date(#{comment.date}).toLocaleString();
								document.write("Le " + maintenant);

	#loginhead.col-md-2.col-xs-2
		h2.
			Log in

	#login.col-md-2.col-xs-2
		form
			| Username:
			br
			input.case(type='text' name='username' style="autocomplete: on")
			br
			| Password:
			br
			input.case(type='password' name='password')
			br
			button.btn.btn-default(type='submit')
				span.glyphicon.glyphicon-log-in(aria-hidden='true')

	#signuphead.col-md-2.col-xs-2
		h2.
			Sign up

	#signup.col-md-2.col-xs-2
		p.
			Not registered yet ?
		p.
			Sign up ! It's free !
		br
		form
			| Username:
			br
			input.case(type='text' name='username')
			br
			| Email:
			br
			input.case(type='email' name='email')
			br
			| Password:
			br
			input.case(type='password' name='password')
			br
			| Confirm:
			br
			input.case(type='password' name='password')
			br
			button.btn.btn-default(type='submit')
				span.glyphicon.glyphicon-check(aria-hidden='true')

	#footer
		p.
			<span>Clémence Duron</span> & <span>Cyrielle Endenmann</span> ©2015
