body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: rgb(155,155,155) url('/images/background.jpg') repeat; 
}

h1 {
	color: #F4D4AB;
	text-align: right;
	margin-top: 4%;
	font-size: 50px;
}

span {
	color: #FFAB91;
	font-size: 60px;
}

span:hover {
	color: #FF8F73;
	border-bottom: 3px solid #FF8F73;
	font-size: 70px;
}

#menu {
	height: 10%;
	width: 100%;
	border-radius: 10px;
	background-color: #F4DDBF;
	text-align: center;
	display: table;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index:10;
}

#choix {
	height: 45px;
	width: 20%;
	border: 2px solid #7D7D7D;
	border-radius: 10px;
	margin: 1%;
	display: inline-block;
	background-color: #F4D4AB;
}

#choix p {
	color: #7D7D7D;
	font-weight : 800;
}

#tweets {
	display: inline-block;
	border: 2px solid #7D7D7D;
	border-radius: 10px;
	float: right;
	position: relative;
	width: 75%;
	height: 1000px;
	margin: 0,5% 0 0.5% 0;
}

#tweet {
	background-color: rgba(255,197,179,0.75);
	border: 1px solid #7D7D7D;
	border-radius: 10px;
	color: #7D7D7D;
	margin: 1%;
	padding-left: 2%;
	padding-bottom: 1%;
}

#tweet h2 {
	color: #7D7D7D;
	font-style: italic;
}

#tweet p {
	text-align: center;
}

#presentation {
	text-align: center;
	height: 15%;
	width: 20%;
	border: 2px solid #7D7D7D;
	border-radius: 10px;
	background-color: #F4D4AB;
	color: #7D7D7D;
	font-weight : 800;
	margin: 1% 0 1% 0;
	clear: left;
}

#login {
	text-align: center;
	height: 15%;
	width: 20%;
	border: 2px solid #7D7D7D;
	border-radius: 10px;
	background-color: #F4D4AB;
	color: #7D7D7D;
	font-weight : 800;
	margin: 1% 0 1% 0;
	clear: left;
}

#signup {
	text-align: center;
	height: 15%;
	width: 20%;
	border: 2px solid #7D7D7D;
	border-radius: 10px;
	background-color: #F4D4AB;
	color: #7D7D7D;
	font-weight : 800;
	margin: 1% 0 1% 0;
	clear: left;
}

#news {
	text-align: center;
	height: 15%;
	width: 20%;
	border: 2px solid #7D7D7D;
	border-radius: 10px;
	background-color: #F4D4AB;
	color: #7D7D7D;
	font-weight : 800;
	margin: 1% 0 1% 0;
	clear: left;
}

.case {
	background: #F4DDBF;
	color: #7D7D7D;
	width: 80%;
	border: 2px solid #7D7D7D;
	border-radius: 10px;
}

.bouton {
	background: #FFC5B3;
	border: 2px solid #7D7D7D;
	border-radius: 15px;
}
